{{ define "main" }}

<section class="page-header">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="content text-center">
          <h3 class="mb-3 text-white text-capitalize letter-spacing">Airflow Summit 2022 @ {{ .Title }}</h3>
          <div class="divider mx-auto mb-4 bg-primary"></div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Event Detail -->
<section class="event-detail">
  <div class="container">
    <div class="event-title"><h3>{{ .Title }}</h3></div>
    <div class="event-when mb-1">
      <i class="far fa-calendar mr-2"></i>{{ with .Params.time_start | time }}{{ .Format "Monday, January 2 3:04 pm" }} to {{ end }}{{ with .Params.time_end | time }}{{
      .Format "3:04 pm MST" }}.{{ end }}
    </div>
    <div class="event-where"><i class="fas fa-map-marker-alt mr-2"></i>{{ with .Params.venue_name }}{{ . }}. {{ end }}{{ .Params.venue_address }}</div>
    {{ with .Params.rsvp_link }}<div class="event-link">RSVP at <a href="{{ .}}">{{.}}</a></div>{{ end }}
    <div class="content my-4">{{ .Content }}</div>
  </div>
</section>
<!--End Event Detail -->


{{ end }}