{{/*
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
*/}}

{{ $links := .Site.Params.links }}
<footer>
    <div class="container-fluid bg-secondary">
        <div class="container py-5">
            <div class="d-flex justify-content-between">
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="mb-3"> <img src="/images/logo-white-noicon.svg" class="img-fluid" alt="Airflow Summit 2020"></div>
                    {{ with $links }}
                        {{ with index . "media"}}
                            <ul class="list-inline mb-0">
                            {{ range . }}
                            <li class="list-inline-item mx-2 h3" data-toggle="tooltip" data-placement="top" title aria-label="{{ .name }}" data-original-title="{{ .name }}">
                                <a class="text-white" target="_blank" href="{{ .url }}">
                                  <i class="{{ .icon }}"></i>
                                </a>
                            </li>    
                            {{ end }}
                            </ul>
                        {{ end }}
                    {{ end }}
                </div>    
                <div class="col-md-6 text-right">
                    <div class="footer-links">
                    {{ with $links }}
                        {{ with index . "footer"}}
                        <ul>
                            {{ range . }}
                            <li><a href="{{ .url }}" {{ with .target }}target="{{ . }}"{{ end }}>
                                {{ .name }}
                            </a></li>
                            {{ end }}
                        </ul>    
                        {{ end }}
                    {{ end }}
                    </div>
                </div>
            </div>
        </div>    
    </div>
    <div class="footer-section footer-section__policies-section bg-dark">
    <div class="container my-0">
        <span class="footer-section__policies-section--disclaimer">
            Apache Airflow, Apache, Airflow, the Airflow logo, and the Apache feather logo are either registered trademarks or trademarks of The Apache Software Foundation.
            All other products or name brands are trademarks of their respective holders, including The Apache Software Foundation.
        </span>
    </div>    
    </div>
</footer>
