<section id="header">
    <div id="header-canvas">
        <div class="text-area">
            <h2 class="text-area--header col-12 col-md-10" id="header-title"><img src="/images/logo-white-2021.svg"
                    class="d-inline-block" alt="Airflow Summit 2020"></h2>
            <h5 class="text-area--subheader col-12 col-md-10" id="header-lead">
                May 20-28, 2021. Join from anywhere.
            </h5>
            <div class="d-flex">
                <a class="mr-5" href="https://sessionize.com/airflow-summit-2021/"
                    id="header-button">
                    <button id="button-cfp" class="btn btn-primary">Join our CFP</button>
                </a>
            </div>
        </div>
    </div>
</section>