{{ define "main" }}

<div class="community--header-container">
    <h2 class="page-header">{{ .Title }}</h2>
    <h5 class="page-subtitle">
        {{ .Params.subtitle }}
    </h5>
</div>

<div class="container">
    {{ range .Params.blocks }}
    {{ $block_start := .time_start | time  }}
    <div class="schedule-block">
        <h5>Host: {{ .host }}</h5>
        <h3><span id="date-{{ .number }}">{{ $block_start.Format "January 2, 3pm" }}</span></h3>
        <div class="session-list row row{{ mod .number 2}}">
            <ul>
                {{ range sort (where (where $.Site.Pages "Section" "sessions") ".Params.block" .number ) ".Params.time_end" }}
                <li>{{ $block_start.Format "15:04" }}. <a class="session-title" href="{{ .Permalink }}">{{ .Params.title }}</a></li>
                {{ end }}
            </ul>
        </div>
    </div>
    {{ end }}
</div>

{{ partialCached "partners.html" . }}

{{ end }}