    
#partners img {
  width: 100%;
} 

.partner-list a {
  padding: 0 30px;
}

.partner-list.platinum a {
  padding: 0 40px;
}
  
.partner-list.community {
  display: grid;
  grid-template-columns: 125px 200px 125px;
  justify-content: center;
  align-items: end;
}
