{{ define "main" }}

<div class="community--header-container">
    <h2 class="page-header">{{ .Title }}</h2>
    <h5 class="page-subtitle">
        {{ .Params.subtitle }}
    </h5>
</div>

<div class="container">
    {{ range .Params.blocks }}
    <div class="schedule-block">
        <h3><span id="date-{{ .number }}">{{ .time_start }}</span></h3>
        <h5>Host: {{ .host }}</h5>
        <div class="session-list">
            {{ range sort (where (where $.Site.Pages "Section" "sessions") ".Params.block" .number ) ".Params.time_end" }}
            <div class="row pt-2 {{ if .Params.workshop }}workshop{{else}}talk{{end}}">
                <div id="time-{{.Params.id}}" class="session-time col-3 col-md-2">
                </div>
                <div class="col-9 col-md-10 mb-2">
                    <h4><a class="session-title" href="{{.Permalink}}">{{ .Params.title }}</a></h4>
                    {{ if .Params.speakers }}<h6 class="speakers-list">by {{ range .Params.speakers }} <span>{{ . }}</span> {{ end }} </h6>{{ end }}
                    <div class="collapse card-abstract" id="abs-{{.Params.id}}">
                      {{ .Summary }}
                        <div><a href="{{.Permalink}}">Read more ...</a></div>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
    {{ end }}
</div>
<script>
    function adjTime(elemId, timeStart, timeEnd, timeBlock) {
        let dateStart = new Date(Date.parse(timeStart));
        let dateEnd = new Date(Date.parse(timeEnd));
        let dateBlock = new Date(Date.parse(timeBlock));
        let adjString = dateStart.getHours()+":"+(('0'+dateStart.getMinutes()).slice(-2))+"-"+dateEnd.getHours()+":"+(('0'+dateEnd.getMinutes()).slice(-2));
        if (dateStart.getDay() > dateBlock.getDay()) {
          adjString += "<br /><em>(+1 day)</em>";
        }  
        document.getElementById(elemId).innerHTML=adjString;
    }
    function adjBlock(elemId, date1) {
        let parseDate1 = Date.parse(date1);
        let jsDate1 = new Date(parseDate1);
        var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
        let adjString = days[jsDate1.getDay()]+", July "+jsDate1.getDate();
        document.getElementById(elemId).innerHTML=adjString;
    }
    {{ range .Params.blocks }}
      {{ $block_start := .time_start | time  }}
      adjBlock("date-{{ .number }}", "{{ $block_start.Format "02 Jan 2006 15:04:05 MST" }}");
      {{ range sort (where (where $.Site.Pages "Section" "sessions") ".Params.block" .number ) ".Params.time_start" }}
        {{ $time_start := .Params.time_start | time  }}
        {{ $time_end := .Params.time_end | time  }}
        adjTime("time-{{ .Params.id }}", "{{ $time_start.Format "02 Jan 2006 15:04:05 MST" }}", "{{ $time_end.Format "02 Jan 2006 15:04:05 MST" }}", "{{ $block_start.Format "02 Jan 2006 15:04:05 MST" }}");
      {{ end }}  
    {{ end }}
</script>

{{ partialCached "partners.html" . }}

{{ end }}