
section.hero {
  background-image: url(/images/as2023-back.jpg);
  background-size: cover;
  background-position: center center;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 50% 1fr;
  grid-template-rows: 1fr;

  @media (max-width:768px) {
    background-image: url(/images/as2023-back-v.jpg);
    grid-template-columns: 1fr 80% 1fr;
    grid-template-rows: 1fr;
  }
  
}

.hero-tagline {
    font-size: 60px;
    color: #017cee;

    @media (max-width:992px) {
      font-size: 40px;
    }
}

.hero-meta {
  font-size: 36px;
  color: #404040;

  @media (max-width:992px) {
    font-size: 30px;
  }
  @media (max-width:576px) {
    font-size: 24px;
  }

}

.hero-title {
  color: white;
  font-family: Termina;
  font-size: 140px;
  font-weight: bold;
  width: 200px;
  line-height: 90%;
  text-transform: uppercase;
  @media (max-width:992px) {
    font-size: 80px;
    width: 150px;
  }
  @media (max-width:576px) {
    font-size: 48px;
    width: 150px;
  }

}
  
.hero-middle { 
  grid-area: 1 / 2 / 4 / 3; 
  align-self: center;
//  background-image: url(/images/back-world.png);
//  background-size: contain;
//  background-repeat: no-repeat;
//  background-position: 100% center;
}

.hero-left { 
  grid-area: 2 / 1 / 4 / 2; 
//  background-image: url(/images/2left.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0px;
  height: 300px;
  @media (max-width:992px) {
    height:250px;
  }
  @media (max-width:576px) {
    height:150px;
  }

}
.hero-right { 
  grid-area: 2 / 3 / 4 / 4; 
//  background-image: url(/images/2right.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 300px;
  @media (max-width:992px) {
    height:250px;
  }
  @media (max-width:576px) {
    height:150px;
  }
}

#button-hero1, #button-hero2 {
  font-size: 1.4em;
}