section.hero {
  height: 100vh;
  display: grid;
  background-image: url(/images/background_home.jpg);
  background-size: cover;
  background-position: center;
  margin-top: -20px;
  grid-template-columns: 35% 1fr 20%;
  grid-template-rows: 1fr 10% 55% 1fr;
  grid-column-gap: 0px; 
  grid-row-gap: 0px;

  @media (max-width:992px) {
    background-image: url(/images/home_transpa.jpg);
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 1fr 20% 60% 1fr;  
  }  

  @media (max-height:500px) {
    height: auto;
  }
}

.hero-sailboat {

  display: none;

  @media (max-width:992px) {
    text-align: center;
    grid-area: 2 / 2 / 3 / 3;
    justify-content: center;
    display: grid;
    margin-top: -150px;
   
  @media (max-width:540px){
    margin-top: -120px;
  }  

  @media (max-width:520px){
    margin-top: -50px;
  }  
  
    img {
      max-height: 60vh;
    }
  }
}



.hero-middle { 
  grid-area: 2 / 1 / 4 / 3;
  align-self: end;
  padding-right: 10em;
  font-size: 18px;
  
  @media (max-width:1625px) {
    padding-right: 8em;
  }

  @media (max-width:1300px) {
      font-size: 20px;
      padding-right: 0em;

    }

  @media (max-width:992px) {
    justify-self: center;
    align-self: start;
    font-size: 16px;
    padding-top: 9em;
    padding-right: 0;
    grid-area: 3 / 2 / 4 / 3;
    margin-top: 50px;
  }

  @media (max-width:550px) {
    font-size: 15px;
    margin-top: -10px;
  }

}

.hero-corner { 
  grid-area: 1 / 3 / 3 / 4;
  margin: -60px -50px 0 0;

  @media (max-width:992px) {
    display: none;
  }
}

.hero-tagline {
    font-size: 2.2em;
    color: #017cee;
}

.hero-meta {
  font-size: 1.5em;
  color: #404040;
}

#button-hero1, #button-hero2 {
  font-size: 1em;
}