section.hero-2025 { 
  background-color: $black;
  @media (min-width:1600px) {
    padding-top: 40px;
    padding-bottom: 80px;
  }
  @media (max-width:640px) {
    margin-top: -40px;
  }
} 

.hero-grid {
  padding: 2em;
  width: 75vw;
  
  @media (min-width:992px) {
    padding: 0;
    display: grid;
    grid-template-columns: 42% 30% 1fr;
  }
  @media (max-width:992px) {
    background-image: url(/images/3_0.svg);
    background-size: 50vw;
    background-repeat: no-repeat;
    background-position: 130% 40%;
    margin: auto;
    display: block;
  }
}

.hero-titles {
  color: white;
  text-align: left;
  margin-top: 90px;
  @media (max-width:992px) {
    text-align: center;
  }

}

.hero3 {
  width: 35vw;
  margin-top: 80px;

}

.hero-titles .date-place {
  font-size: 18pt;
  @media (min-width:992px) {
    font-size: 20pt;
  }
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.2em;
}
.hero-titles img {
  margin-bottom: 2.5em;
}

.hero-button{
  font-size: 1.2em; 
  padding: 10px 30px;
  font-weight: 700; 
  text-transform: uppercase;  
  color: black;

  @media (max-width:492px) {
    font-size: .9em;
  }
}
