.event-info-section{
    background-color: $black; 
  }

  .card-event-info{
    padding: 30px;
    background-color: #1B1E22;
    border-style: none;
  }

  .event-info-title{
    color: white;
  }

  .event-info-content, li{
    color: #5B6470;
    font-size: 1em;
  }

  .event-info-icon{
    color: $blue-2025;
    margin-bottom: 10px;
  }

  .card-space-info-event{
    margin-top: 90px;

    @media (max-width:640px) {
      margin-top: 20px;
    }
  }