.event-info-section{
    background-color: black;  
  }

  .card-event-info{
    padding: 30px;
    background-color: #1B1E22;
    border-style: none;
  }

  .event-info-title{
    color: white;
  }

  .event-info-content{
    color: #5B6470;
  }

  .event-info-icon{
    color: white;
    margin-bottom: 10px;
  }