
// Footer 2025

.footer-section-container {
	background-color: $footer;
	padding: 20px 0 1px 0;
}

.footer-section-container ul {
	list-style-type: none;
	margin: 0;
	padding: 0;

}

.footer-section-container a {
	text-decoration: none;
	line-height: 30px;

}

// Footer 2025


footer {
	min-height: unset;
	border-top: 2px solid $primary-color;

	.footer-section {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;


		&__media-section {
			padding: 60px 60px 30px;

			&--link {
				margin-right: 30px;
			}

			&--button-with-text {
				display: flex;
				align-items: center;
			}

			&--text {
				margin-right: 20px;
			}
		}

		&__policies-section {
			padding: 30px 60px;
			font-size: 12px;

			&--policy-item {
				color: white;
			}

			&--disclaimer {
				display: block;
				color: #cbcbcb !important;
				margin-top: 16px;

			}
		}
	}

	.dropdown-toggle {
		&::after {
			color: white;
			vertical-align: middle;
		}
	}
}

footer a {
	color: $black !important;

	&:hover {
		color: $white-2025 !important;
	}
	
}

.footer-section a{
	color: $blue !important;
	&:hover{
		color: $blue-light-2025 !important;
	}
}

a.footer-section__media-section--link i {
	font-size: 40px;
}