.info-block-section {
    background-color: $black;
    padding: 55px;
}


.info-block h3{
    color: $blue-light-2025;
    margin-bottom: 65px;
    font-weight: 700;
}

.info-block{
    color: $blue-light-2025;
    font-size: 2.8em;
    line-height: 62px;
    font-weight: 700;
}