//fonts

$base-font                : "Rubik", Helvetica, Arial, sans-serif;
$heading-font             : "Rubik", Helvetica, Arial, sans-serif;
$base-font-size           : 18px;


// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

$white                    : #ffffff;
$black-lighter            : #565c62;
$gray                    : #a4a4a4;
$gray-light               : #f8f8f8;
$border-color             : #e8e8e8;

// Website 2026

$primary-color: #00C8D2;
$black:         #000000;
$header:        #11E1EE; 
$footer:        #11E1EE; 



// Website 2025 

$black-old                    : #0C0D0F;
$green-2025                   : #2B2D42;
$blue-2025                    : #e43921;
$blue-light-2025              : #2AABEE;
$red-2025                     : #FF7557;
$gray-2025                    : #1B1E22;
$gray-light-2025              : #636363;
$white-2025                   : #F9F9F9;



// Website 2025

$primary-color-old: #00c7d4;
$secondary-color: #e43921;
$cyan: #00c7d4;
$blue: #017cee;
$orange:#fd7e62;
$yellow:#ffd200;
$green: #00ad46;
$red: #ff2040;