
//fonts

$base-font                : Nunito, Helvetica, Arial, sans-serif;
$heading-font             : Nunito, Helvetica, Arial, sans-serif;
$base-font-size           : 18px;


// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

$white                    : #ffffff;
$black                    : #303030;
$black-lighter            : #565c62;
$gray                    : #a4a4a4;
$gray-light               : #f8f8f8;
$border-color             : #e8e8e8;

$primary-color: #00c7d4;
$secondary-color: #fd7e62;
$cyan: #00c7d4;
$blue: #017cee;
$orange:#fd7e62;
$yellow:#ffd200;
$green: #00ad46;
$red: #ff2040;

