.card-abstract {
    border: solid 1px #cbcbcb;
    padding: 8px 12px 0px 12px;
    font-size: 0.9em;
}

.schedule-block {
    border-bottom: 2px solid #a0a0a0;
    margin-bottom: 2em;
}

.speakers-list span:after {
	content: ", ";
}

.speakers-list span:nth-last-child(2):after {
	content: " & ";
}

.speakers-list span:last-child:after {
	content: "";
}


article.swag {
    padding: 1em;
    background-color: #ffffff;
    border: solid 1px gray;
}

.swag a {
    color: #017cee;
}

.swag-info {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 2fr;
	align-items: center;

    @media (max-width: $mobile) {
		grid-template-columns: 1fr 1fr;
	}
}

.swag-detail-logo {
    width: 300px;
}

.session-list .row {
    padding-top: 6px;
}
.row.workshop {
    background-color: #e6e6e6;
}