{{ define "main" }}

<section class="hero-2025" style="margin-top: -70px; background-image: url(/images/back-world.png); background-repeat: no-repeat;
	background-position: -10% 1%;">
  <div class="container">
    <div class="hero-grid-online">
      <div class="hero-titles">
        <p class="date-place">
          Oct 15-16, 2025 Free access
        </p>
        <img src="/images/logo-hero-online.svg" class="img-fluid">
        <a href="#register-online">
          <button class="btn my-3 btn-rounded btn-primary hero-button"
            style="background-color: #00D658 !important;">Register for online reconnect</button>
        </a>
      </div>
      <div class="hero-spacer d-none d-lg-block">
      </div>
      <div class="hero3 d-none d-lg-block">
        <img src="/images/3-0-online.png" class="img-fluid">
      </div>
    </div>
    <br>
    <div class="mt-4" style="color: white; font-size: 1.3rem;">
      <p>Airflow Summit Online Reconnect is a special edition designed for everyone. Whether you joined us in Seattle
        and want to extend the experience or couldn’t make it in person this year, this is your chance to reconnect. On
        October 15–16, join us online from anywhere in the world. Let's keep the Airflow spirit going!</p>
    </div>
  </div>


  <section class="event-info-section mt-4">
    <div class="container">
      <div class="row row-cols-1 row-cols-lg-3 g-4">
        <div class="col mb-4 card-space-info-event">
          <div class="card h-100 card-event-info">
            <p class="event-info-icon">&nbsp;&nbsp;&nbsp;<i class="bi-file-earmark"
                style="color: #00D658 !important;"></i></p>
            <div class="card-body">
              <h5 class="card-title event-info-title">2 Days</h5>
              <p class="card-text event-info-content mt-3">Content will consist of new sessions by speakers who were not
                able to travel for Airflow Summit, complemented with a few selected sessions from the in-person event.
              </p>
            </div>
          </div>
        </div>
        <div class="col mb-4 card-space-info-event">
          <div class="card h-100 card-event-info">
            <p class="event-info-icon">&nbsp;&nbsp;&nbsp;<i class="bi-broadcast" style="color: #00D658 !important;"></i>
            </p>
            <div class="card-body">
              <h5 class="card-title event-info-title">+3K Attendees</h5>
              <p class="card-text event-info-content mt-3">Connect online with top industry professionals and immerse
                yourself in the Apache Airflow community at the virtual hall and the available discussion tables. Don’t
                miss this unique chance!</p>
            </div>
          </div>
        </div>
        <div class="col mb-4 card-space-info-event">
          <div class="card h-100 card-event-info">
            <p class="event-info-icon">&nbsp;&nbsp;&nbsp;<i class="bi-clipboard-check"
                style="color: #00D658 !important;"></i></p>
            <div class="card-body">
              <a name="register-online"></a>
              <h5 class="card-title event-info-title">Features for participants</h5>
              <p class="card-text event-info-content mt-3">
                <li class="event-info-content">Global focus</li>
                <li class="event-info-content">Accessible recordings</li>
                <li class="event-info-content">Access to the Slack community</li>
                <li class="event-info-content">Virtual swag</li>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <h2 class="text-white text-center mt-4">Register now!</h2>
        <script src="https://js.tito.io/v2/with/ga4,hits" async></script>
        <tito-widget event="airflowsummit/2025-online"></tito-widget>
      </div>
      <br>
      <p class="mt-4" style="color: white; font-size: 1.3rem;">Airflow Summit Online Reconnect will consist of new
        sessions by speakers who were not able to travel for Airflow Summit, complemented with a few selected sessions
        from the in-person event. If you already attended Airflow Summit in Seattle, there’s no need to register again,
        your access to the Online Reconnect edition is already included.
      </p>

      <br>
      <button class="btn my-3 btn-rounded btn-primary hero-button mx-auto d-block"
        style="background-color: #00D658 !important; pointer-events: none; text-decoration: none;">Program is coming soon</button>
    </div>

    <br>
  </section>



</section>

{{ end }}