<article class="blog-article mb-4 border border-secondary">
  {{ with .Params.image }}<img src="{{ . | relURL }}" alt="{{ .Title | markdownify }}" class="img-fluid">{{ end }}
  <div class="content py-5 px-4">
    <h4 class="my-3"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h4>
    <p class="mb-4">{{ .Summary }}</p>
    <a href="{{ .Permalink }}" class="read-more text-color h6">{{ i18n "read_more" }} <i
        class="tf-ion-android-arrow-forward ml-3"></i></a>
  </div>
</article>