{{ define "main" }}

<div class="container">
    <div class="inner-column">
        <div class="text-box mb-4">
            {{ with .Params.designation }}<h3>{{.}}</h3>{{ end }}
            <p class="mt-2">{{ .Content }}</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-xl-3">
        <div class="image-column">
            <img src="{{ with .Params.images }}{{ index . 0 | relURL }}{{else}}{{ .Params.Image | relURL }}{{ end }}" alt="{{ .Title }}" class="rounded-3 mx-auto d-flex mt-2" width="250">

            <div  style="display: flex;
            justify-content: center;
            align-items: center;">
                <ul class="social-icon-two social-icon-colored  mt-3 mb-3 ">
                    {{ with .Params.twitter }}
                    {{ if ne . "" }}
                    <li><a href="{{ . }}" target="_blank"><span class="fab fa-twitter"></span></a></li>
                    {{ end }}
                    {{ end }} 
            
                    {{ with .Params.linkedin }}
                    {{ if ne . "" }}
                    <li><a href="{{ . }}" target="_blank"><span class="fab fa-linkedin-in"></span></a></li>
                    {{ end }}
                    {{ end }} 
            
                    {{ with .Params.github }}
                    {{ if ne . "" }}
                    <li><a href="{{ . }}" target="_blank"><span class="fab fa-github"></span></a></li>
                    {{ end }}
                    {{ end }}
            
                    {{ with .Params.facebook }}
                    {{ if ne . "" }}
                    <li><a href="{{ . }}" target="_blank"><span class="fab fa-facebook"></span></a></li>
                    {{ end }}
                    {{ end }}

                    {{ with .Params.mastodon }}
                    {{ if ne . "" }}
                    <li><a href="{{ . }}" target="_blank"><span class="bi bi-mastodon"></span></a></li>
                    {{ end }}
                    {{ end }}
                    &nbsp;
                    {{ with .Params.bluesky }}
                    {{ if ne . "" }}
                    <li><a href="{{ . }}" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-bluesky" viewBox="0 0 16 16">
  <path d="M3.468 1.948C5.303 3.325 7.276 6.118 8 7.616c.725-1.498 2.698-4.29 4.532-5.668C13.855.955 16 .186 16 2.632c0 .489-.28 4.105-.444 4.692-.572 2.04-2.653 2.561-4.504 2.246 3.236.551 4.06 2.375 2.281 4.2-3.376 3.464-4.852-.87-5.23-1.98-.07-.204-.103-.3-.103-.218 0-.081-.033.014-.102.218-.379 1.11-1.855 5.444-5.231 1.98-1.778-1.825-.955-3.65 2.28-4.2-1.85.315-3.932-.205-4.503-2.246C.28 6.737 0 3.12 0 2.632 0 .186 2.145.955 3.468 1.948"/>
</svg></a></li>
                    {{ end }}
                    {{ end }}
                </ul>
            
            
            </div>
    </div>
      </div>


      <div class="col-lg-9 mt-4">  
   <!-- Sessions speaker -->

   <h4 class="br-4">Sessions by {{ .Title }}</h4>
   <ul>
     {{ range (.Data.Pages.ByParam "time_start").Reverse }}
       <li><a href="{{ .Permalink }}">{{ .Title }}</a>{{ with .Params.time_start | time }} ({{ .Format "2006" }}){{ end }}</li>
     {{ end }}
     </ul>

     <!-- Sessions speaker end -->
      </div>
    </div>
  </div>


{{ end }}