<section class="blog-news-section">

  <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="true" space-between="30"
    centered-slides="true" autoplay-delay="4500" autoplay-disable-on-interaction="false" loop="true">

    {{ range first 4 (where .Site.RegularPages "Type" "blog" )}}

    <swiper-slide>
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-6 mt-4">
            <p class="news-sub">WHAT'S NEW</p>
            <p class="latest-news-title">Latest news:</p>
            <p class="news-title">{{ .Title }}</p>
            <p class="news-description mt-4 mb-4">{{.Summary}}</p>

            {{ if .Params.redirection }}
            <a href="{{ . }}" class="text-decoration-none news-button-item" target="_blank">
              <button class="btn my-3 btn-rounded news-button">READ MORE</button>
            </a>
            {{ else }}
            <a href="{{ .Permalink }}" class="text-decoration-none news-button-item">
              <button class="btn my-3 btn-rounded news-button">READ MORE</button>
            </a>
            {{ end }}

          </div>

          {{ if .Params.redirection }}
          <div class="col-lg-7 col-md-6">
            <a href="{{ .Params.redirection }}" target="_blank">
              <img src="{{ with .Params.images }}{{ index . 0 | relURL }}{{ end }}" alt="{{ .Title }}"
                class="img-fluid venue-img">
            </a>
          </div>
          {{ else }}
          <div class="col-lg-7 col-md-6">
            <a href="{{ .Permalink }}">
              <img src="{{ with .Params.images }}{{ index . 0 | relURL }}{{ end }}" alt="{{ .Title }}"
                class="img-fluid venue-img">
            </a>
          </div>
          {{ end }}

        </div>
      </div>
    </swiper-slide>
    {{ end }}

  </swiper-container>

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

</section>

<!-- Initialize Swiper -->
<script>
  const progressCircle = document.querySelector(".autoplay-progress svg");
  const progressContent = document.querySelector(".autoplay-progress span");

  const swiperEl = document.querySelector("swiper-container");
  swiperEl.addEventListener("autoplaytimeleft", (e) => {
    const [swiper, time, progress] = e.detail;
    progressCircle.style.setProperty("--progress", 1 - progress);
    progressContent.textContent = `${Math.ceil(time / 1000)}s`;
  });
</script>