
<section class="section blog">
  <div class="container">
    <div class="row section-heading">
      <div class="col-md-8 ">
        <div class="heading">
          <h2>Latest News</h2>
        </div>
      </div>
    </div>
    <div class="row">
      {{ range first 3 (where .Site.RegularPages "Type" "blog" )}}
      {{ if .Params.redirection }}
      <div class="col-lg-4 col-md-6 mx-auto d-flex">
          <div class="blog-item card border-0 mb-5 mb-lg-0">
            <a href="{{ .Params.redirection }}" target="_blank">
              <img src="{{ with .Params.images }}{{ index . 0 | relURL }}{{ end }}" alt="{{ .Title }}" class="img-fluid" style="width: 600px;">
            </a>
            
            <!--<div class="p-4 text-center">
              <h4 class="mt-2 mb-3"><a href="{{ .Params.redirection }}">{{ .Title | markdownify }}</a></h4>
            </div>-->
          </div>
        </div>
        {{ else }}
        <div class="col-lg-4 col-md-6">
          <div class="blog-item card border-0 mb-5 mb-lg-0">
            <a href="{{ .Permalink }}">
              <img src="{{ with .Params.images }}{{ index . 0 | relURL }}{{ end }}" alt="{{ .Title }}" class="img-fluid" style="width: 600px;">
            </a>
            
          </div>
        </div>
        {{ end }}
        {{ end }}
      </div>
    </div>
</section>
  