{{ $data := index .Site.Data }}

<section class="event-info-section py-4">
  <div class="container text-white text-center">
    <h2>Airflow Summit Seattle was a success, <br>now join us for Airflow Summit Reconnect</h2>
    <p>The in-person edition of Airflow Summit was a success and soon we will share more details.</p>
    <p>In the meantime, you can join <a href="/onlinereconnect">Online Reconnect</a>, an online conference with a mix of new and 
      recorded sessions from Airflow Summit.</p>
      <p>Join us online from anywhere in the world. Let's keep the Airflow spirit going!</p>
    </div>
</p>

  </div>
</section>




