<!-- Navigation Start -->
<header class="header-bar fixed-top">
  <div id="top-strip"></div>
  <div class="container">
  <nav class="navbar navbar-expand-lg main-nav navbar-dark">
    <!-- LOGO BAR -->
    {{ with .Site.Params.logo }}
      <a class=" ml-4" href='{{ "/" | relURL }}'>      
        <img src="{{.}}" alt="{{ $.Site.Title }}" class="img-fluid logo-b">
      </a>
    {{ end }}  

    <!--  MAIN MENU  -->
    <div class="collapse navbar-collapse text-center" id="navigation">
      <ul class="navbar-nav ms-auto justify-content-end">
        {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            {{ .Name }}
          </a>
          <div class="dropdown-menu">
            {{ range .Children }}
            <a class="dropdown-item" href="{{ .URL | relURL }}">{{ .Name }}</a>
            {{ end }}
          </div>
        </li>
        {{ else }}
        <li class="nav-item">
          <a class="nav-link" href="{{ .URL | relURL }}">{{ .Name }}</a>
        </li>
        {{ end }}
        {{ end }}

        {{ if .Site.Params.navigation_button.enable }}
        <li class="nav-item d-lg-none">
          <a id="nav-button" href="{{ .Site.Params.navigation_button.link | relURL }}" class="btn btn-menu text-white">{{
            .Site.Params.navigation_button.label }}</a>
        </li>
        {{ end }}
      </ul>      
    </div>
    {{ if .Site.Params.navigation_button.enable }}
    <ul class="navbar-nav ms-auto align-items-center">
      <li class="nav-item d-none d-lg-block push-right mt-2">
        <a id="nav-button" href="{{ .Site.Params.navigation_button.link | relURL }}" class="btn btn-menu btn-rounded text-uppercase">{{
      .Site.Params.navigation_button.label }}</a>
       </li>
    </ul>
  {{ end }}
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation"
  aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon" ></span>
  </button>

  </nav>
  </div>
  <!--  Airflow Telemetry  -->
  <img referrerpolicy="no-referrer-when-downgrade" src="https://static.scarf.sh/a.png?x-pxid=bc607596-1ead-4c41-88d4-6a51a70eb618" />
</header>
<!-- Navigation End -->
