<section class="hero-2025">

  <div class="container text-center">
    <div class="row">
      <div class="col-lg-6">
        <img src="/images/airflow-summit-logo-2026.png" width="550" class="img-fluid logo-2026">
      </div>
      <div class="col-lg-6">
        <div class="hero-titles">
          <p class="date-place">
            August 31 - September 2, 2026.
            <br><br>
            Hyatt Regency, Austin, USA.
          </p>
        </div>
      </div>
              <div class="my-4">
                
          <div class="d-inline mx-4">
            <a href="/tickets" target="_blank"
              style="background-color: #00c7d4 !important;"
              class="btn my-3 btn-rounded btn-primary hero-button text-center">Tickets</a>
          </div>

          <div class="d-inline mx-4">
            <a href="https://sessionize.com/airflow-summit-2026/" target="_blank"
              style="background-color: #00c7d4 !important;"
              class="btn my-3 btn-rounded btn-primary hero-button text-center">CFP</a>
          </div>

          <div class="d-inline mx-4">
            <a href="/docs/airflow-summit-2026-prospectus-v1_4.pdf" target="_blank"
              style="background-color: #00c7d4 !important;"
              class="btn my-3 btn-rounded btn-primary hero-button text-center">Sponsor</a>
          </div>

        </div>
    </div>
  </div>



  <div>
    <img src="/images/austin-hero-2026.png" class="img-fluid mt-4">
  </div>

</section>