<section class="hero-2025">
    <div class="container">

<div class="container text-center">
  <div class="row">
    <div class="mt-4">
       <img src="/images/logo-hero-2025.png" width="650" class="img-fluid mt-4">
    </div>   

    <div class="hero-titles text-center">
        <p class="date-place">
            August 31 - September 2, 2026. Hyatt Regency, Austin, USA.
        </p>
    </div>

      <div class="my-4">
    <div class="d-inline">
        <a href="/docs/airflow-summit-2026-prospectus-v1.pdf" target="_blank" style="background-color: #0eb6ff !important;" class="btn my-3 btn-rounded btn-primary hero-button text-center">Become a sponsor</a>
    </div>
      
    <div class="d-inline mx-4">
        <a href="https://sessionize.com/airflow-summit-2026/" target="_blank" style="background-color: #0eb6ff !important;" class="btn my-3 btn-rounded btn-primary hero-button text-center">CFP is open</a>
    </div>

  </div>
  </div>
</div>

    </div>
</section>