<section class="hero">
    <div class="hero-sailboat">
        <img src="/images/sailboat.svg" class="img-fluid">
    </div>    
    <div class="hero-middle">
        <img src="/images/logo-h.svg" class="img-fluid mb-4">
        <h3 class="hero-tagline text-center">Let's flow together</h3>
        <h4 class="hero-meta text-center">September 19-21, 2023</h4>
        <h4 class="hero-meta text-center">Toronto, Canada</h4>

        <div class="cta-container my-4 text-center">
            {{ with .Site.Params.hero.cta1 }}
            <a id="hero-button1" href="{{ .link }}" target="_blank" class="mx-4">
                <button id="button-hero1" class="btn btn-orange text-white my-2 btn-rounded">{{ .text }}</button>
            </a>
            {{ end }}
            {{ with .Site.Params.hero.cta2 }}
            <a id="hero-button2" href="{{ .link }}" target="_blank" class="mx-4">
                <button id="button-hero2" class="btn btn-secondary my-2">{{ .text }}</button>
            </a>
            {{ end }}
            <button data-tf-popup="TxCJx3Vp" data-tf-opacity="100" data-tf-size="100" data-tf-iframe-props="title=Airflow Summit 2023 - Interested" data-tf-transitive-search-params data-tf-medium="snippet" data-tf-hidden="utm_source=,utm_medium=,utm_campaign=" class="btn text-white my-3 btn-rounded" style="font-size: 1.4em; background-color:#017CEE;">Sign up for updates</button><script src="//embed.typeform.com/next/embed.js"></script>
        </div>
    </div>
    <div class="hero-corner"></div>    
</section>