<section class="keynotes-speakers">
    <div>
        <h2 class="featured-keynote-title text-center">Featured Keynote Speakers</h2>
    </div>
    <br>
    <div class="container text-center mt-4">
        <div class="speaker-strip">
            {{ range where (where (where .Site.Pages.ByTitle "Type" "speakers") "Kind" "term") "Params.featured" true }}
            <div class="speaker-item">
                <div class="speaker-block">
                    <div class="headshot-box">
                        <a href="{{.Permalink}}">
                            <img src="{{ with .Params.images }}{{ index . 0 | relURL }}{{else}}{{ .Params.Image | relURL }}{{ end }}"
                                alt="{{ .Title }}" class="img-fluid shadow">
                        </a>
                    </div>
                    <div class="speaker-info text-center">
                        <h4 class="mb-0 mt-3"><a href="{{.Permalink | relURL }}">{{ .Title }}</a></h4>
                        <p class="speaker-info-description">{{ .Params.Designation}}</p>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
        <br><br>
    </div>
</section>