<section id="header">
    <div id="header-canvas">
        <div class="text-area">
            <h2 class="text-area--header col-12 col-md-10" id="header-title"><img src="/images/logo-white.svg"
                    class="d-inline-block" alt="Airflow Summit 2020"></h2>
            <h5 class="text-area--subheader col-12 col-md-10" id="header-lead">
                July 6-17, 2020. Join from anywhere.
            </h5>
            <div class="d-flex">
                <a class="mr-5" href="https://airflowsummit.org/live"
                    id="header-button">
                    <button id="button-cfp" class="btn btn-primary">Watch now!</button>
                </a>
            </div>
        </div>
    </div>
</section>