{{ define "main" }}

{{ $data := index .Site.Data }}

{{ partial "hero.html" . }}

<div id="at-a-glance" class="container-fluid">
  <div class="container d-flex justify-content-between nopadding">

    <div class="col-12 px-0">
      <h4>Airflow Summit 2021 was a huge success!</h4>
      <p>With more than 10,000 participants from all over the world, the 2021 edition of Airflow Summit was a huge success. 
        Check out the <a href="/sessions/2021">sessions list</a> for the 
        recordings and slides.</p>
    </div>

  </div>
</div>

{{ partial "partners.html" . }}


{{ end }}