{{ define "main" }}

{{ $data := index .Site.Data }}

{{ partial "hero.html" . }}

<div id="at-a-glance" class="container-fluid">
  <div class="container d-flex justify-content-between nopadding">

    <div class="col-6 col-md-5 px-0">
      <h4>Welcome back to the online conference for Apache Airflow developers.</h4>
      <p>Join us from all over the world to find out how Airflow is being used by leading companies, what is its roadmap
        and how
        you can participate in its development.</p>
    </div>

    <div class="col-5 col-md-5 statistics-block">

      <div class="item1">
        <div class="numbers">1</div>
        <div class="label">Week</div>
      </div>

      <div class="item2">
        <div class="numbers">25+</div>
        <div class="label">Sessions</div>
      </div>

      <div class="item3">
        <div class="numbers">3,000+</div>
        <div class="label">Participants from all over the world</div>
      </div>

    </div>
  </div>
</div>

{{ partial "partners.html" . }}


{{ end }}