{{ define "main" }}

{{ $data := index .Site.Data }}

{{ partial "hero.html" . }}

<!--{{ partial "event_info.html" . }}-->

<div id="at-a-glance" class="container-fluid">
  <div class="container d-flex justify-content-between nopadding">

    <div class="col-12 px-0">
      <h4>Get ready for Airflow Summit 2022!</h4>
      <p>After the success of Airflow Summit 2021, we are getting ready for Airflow Summit 2022. It will be an online event, but wherever possible we will have local 
        watch parties where members of the Airflow community can meet and network.</p>
      <p>We would love to have you as a speaker, so <a href="https://sessionize.com/airflow-summit-2022/">please check out our CFP</a>!</p>
    </div>

  </div>
</div>


{{ partial "partners.html" . }}


{{ end }}