{{/*
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
*/}}

{{ define "animation-header" }}
    <section id="header">
        <div id="header-canvas">
            <div class="text-area">
                <h2 class="text-area--header col-12 col-md-10" id="header-title"><img src="/images/logo-noicon.svg" class="d-inline-block" alt="Airflow Summit 2020"></h2>
                <h5 class="text-area--subheader col-12 col-md-10" id="header-lead">
                    June 3-5, 2020. Mountain View, CA.
                </h5>
                <div class="d-flex">
                    <a class="mr-5" href="https://pretalx.com/apache-airflow-summit-bay-area-2020/cfp" id="header-button">
                        <button id="button-cfp" class="btn btn-primary">Submit a Talk</button>            
                    </a>
                    <a href="#tickets" id="header-button">
                        <button id="button-cfp" class="btn btn-primary">Register Now&nbsp;</button>            
                    </a>
                </div>
            </div>
        </div>
    </section>
{{ end }}

{{ define "main" }}

<div id="at-a-glance" class="container-fluid">
    <div class="container d-flex justify-content-between nopadding">

        <div class="col-md-5">
            <h2>Welcome to the first conference for Apache Airflow developers.</h2>
            <p>Join us to find out how Airflow is being used by leading companies, what is its roadmap and how you can participate in its development.</p>
        </div>

        <div class="col-md-5 statistics-block">

            <div class="item">
                <div class="numbers">3</div>
                <div class="label">Days</div>
            </div>

            <div class="item">
                <div class="numbers">300+</div>
                <div class="label">Attendees</div>
            </div>

            <div class="item">
                <div class="numbers">4</div>
                <div class="label">Keynotes</div>
            </div>

            <div class="item">
                <div class="numbers">24</div>
                <div class="label">Track sessions</div>
            </div>
        </div>
    </div>
    </div>
</div>

    <a name="tickets" class="ticket-anchor"></a>
    <div class="bg-white">
        <h4 class="page-header principles-header">Tickets</h4>
        <tito-widget event="airflowsummit/airflow-summit-2020"></tito-widget>
    </div>
    
{{ end }}    
