{{ define "main" }}

<div class="container text-center mt-4">

    <div class="container text-center">
        
        <div class="row">
            {{ range where (where .Site.Pages.ByTitle "Type" "sessions") ".Params.keynote2025" true }}
          <div class="col-md-4">
            <div class="mb-3">
                <a href="{{.Permalink}}">
                    <img src="{{ with .Params.images }}{{ index . 0 | relURL }}{{else}}{{ .Params.Image | relURL }}{{ end }}" alt="{{ .Title }}" class="img-fluid rounded-4">
                </a>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
<br><br>
</div>

{{ end }}