{{ define "main" }}

<div class="container mt-4">

  {{ range sort (where (where .Site.Pages.ByTitle "Type" "sessions") ".Params.keynote2026" true) ".Params.time_start" }}
  <div class="row align-items-center mb-4 pb-4 border-bottom">

    <div class="col-md-4">
      <a href="{{ .Permalink }}">
        <img src="{{ with .Params.images }}{{ index . 0 | relURL }}{{ else }}{{ .Params.Image | relURL }}{{ end }}"
          alt="{{ .Title }}" class="img-fluid rounded-4">
      </a>
    </div>

    <div class="col-md-8 mt-4">
      <h3>{{ .Title }}</h3>
      <p>{{ .Summary | plainify | truncate 300 }}</p>
      <div class="text-center text-md-start">
        <a href="{{ .Permalink }}" class="btn btn-primary rounded-pill">See more</a>
      </div>
    </div>

  </div>
  {{ end }}

</div>

{{ end }}