{{ define "main" }}

<div class="container mb-4">
    <p class="text-center">
        {{ .Content }}
    </p>

    <br>

    <h3 class="mt-4">Monday, August 31, 2026.</h3>
    <div class="row">
     {{ range sort (sort (where (where (where .Site.Pages "Type" "sessions") ".Params.workshop2026" true) ".Params.day" 20261) ".Params.room") ".Params.time_start" }}              
     {{ $time_start := .Params.time_start | time }}
      {{ $time_end := .Params.time_end | time }}
 
      <div class="col-12 col-lg-4 mb-4">
        <div class="card h-100 mx-2 my-3">
          <div class="card-body">
            <h6><em>{{ $time_start.Format "15:04" }}-{{ $time_end.Format "15:04" }}. Room {{.Params.room}}.</em></h6>
            <h5 class="card-title">{{.Title}}</h4>
            <h6 class="card-stubtitle">by {{ with .Params.speakers }}{{ delimit . ", " " & " }}{{ end }}</h5>
            <div class="card-text">{{.Summary | truncate 130 }}</div>
            <a class="card-link" href="{{.Permalink}}">More details</a>
          </div>
        </div>
      </div>
    {{ end }} 
    </div>

    <br>

    <h3 class="mt-4">Tuesday, September 1, 2026.</h3>
    <div class="row">
     {{ range sort (sort (where (where (where .Site.Pages "Type" "sessions") ".Params.workshop2026" true) ".Params.day" 20262) ".Params.room") ".Params.time_start" }}              
     {{ $time_start := .Params.time_start | time }}
      {{ $time_end := .Params.time_end | time }}
 
      <div class="col-12 col-lg-4 mb-4">
        <div class="card h-100 mx-2 my-3">
          <div class="card-body ">
            <h6><em>{{ $time_start.Format "15:04" }}-{{ $time_end.Format "15:04" }}. Room {{.Params.room}}.</em></h6>
            <h5 class="card-title">{{.Title}}</h4>
            <h6 class="card-stubtitle">by {{ with .Params.speakers }}{{ delimit . ", " " & " }}{{ end }}</h5>
            <div class="card-text">{{.Summary | truncate 130 }}</div>
            <a class="card-link" href="{{.Permalink}}">More details</a>
          </div>
        </div>
      </div>
    {{ end }}  
    </div>

    <br>

    <h3>Wednesday, September 2, 2026.</h3>
    <div class="row">
    {{ range sort (sort (where (where (where .Site.Pages "Type" "sessions") ".Params.workshop2026" true) ".Params.day" 20263) ".Params.room") ".Params.time_start" }}              
      {{ $time_start := .Params.time_start | time }}
      {{ $time_end := .Params.time_end | time }}
 
      <div class="col-12 col-lg-4 mb-4">
        <div class="card h-100 mx-2 my-3">
          <div class="card-body">
            <h6><em>{{ $time_start.Format "15:04" }}-{{ $time_end.Format "15:04" }}. Room {{.Params.room}}.</em></h6>
            <h5 class="card-title">{{.Title}}</h4>
            <h6 class="card-stubtitle">by {{ with .Params.speakers }}{{ delimit . ", " " & " }}{{ end }}</h5>
            <div class="card-text">{{.Summary | truncate 130 }}</div>
            <a class="card-link" href="{{.Permalink}}">More details</a>
          </div>
        </div>
      </div>

      {{ end }}

</div>

</div>


{{ end }}