{{ define "main" }}

<div class="container mb-4">
    <p class="text-center">
        {{ .Content }}
    </p>

    <table id="sessions-table" data-toggle="table" data-search="true" data-search-align="left" data-sortable="true">
      <thead>
        <tr>
          <th data-field="title" data-sortable="true">Title</th>
        </tr>
      </thead>
        <tbody>
            {{ range where (where .Site.Pages.ByTitle "Type" "sessions") ".Params.workshop2025" true }}
              
            <tr>
                <td data-toggle="collapse" data-target="#abs-{{.File.TranslationBaseName}}" class="session-toggler">
                    <h4 class="mb-0">
                    <a class="session-title" href="{{.Permalink}}">{{ .Params.title }}</a>
                    </h4>

                    <em>by {{ with .Params.speakers }}{{ delimit . ", " " & " }}{{ end }}</em>
                
                  </td>
            </tr>
            {{ end }}
        </tbody>
    </table>

</div>


{{ end }}