{{ define "main" }}

<section class="workshops section">
  <div class="container">
    <div class="inner-column">
      {{ .Content }}
    </div>
    <div class="row workshop-strip">
      {{range sort (where (where .Site.RegularPages "Section" "sessions") ".Params.session_type" "Workshop" )
      ".Params.time_start" }}
      <div class="col-12 col-md-6 px-3 mb-3">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
            {{ $time_start := .Params.time_start | time }}
            {{ $time_end := .Params.time_end | time }}
            <h6 class="card-subtitle mb-2">Date: {{ $time_start.Format "Jan-02 15:04" }}-{{ $time_end.Format "15:04" }}
              UTC</h6>
            <h6 class="card-subtitle mb-2">Instructor(s): {{ delimit .Params.speakers ", " " & " }}</h6>
            <p class="card-text">{{ .Summary }}</p>
            <p class="abstract"><a href="{{ .Permalink }}" class="card-link">See details & register</a></p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
    <div class="text-center mt-3">
      <a class="btn btn-primary text-white px-3 mb-2" target="_blank"
        href="https://ti.to/airflowsummit/2022-workshops">Get your tickets for workshops</a>
    </div>
  </div>
</section>

{{ end }}